{% extends "base.html" %}
{% block title %}{{ page.title}} — {{ super() }}{% endblock %}
{% block relative_url %}archive/{% endblock %}
{% block og_title %}Archives — {{ super() }}{% endblock %}
{% block og_relative_url %}archives/{% endblock %}

{% block content %}
<section id="content" class="content site-page">
  <header>
    <h1 class="page-header site-page-title">
      {{ page.title}}
      <small><a href="{{ site_url }}/feed.xml"><i class="fa fa-rss"></i></a></small>
    </h1>
  </header>
  {% for a in year_articles %}
  <h4>{{ a.year }}</h4>
  <ul>
    {% for article in a.articles %}
    <li><a href="{{ site_url }}/{{ article.url }}">{{ article.title|striptags }}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
{% endblock %}
