{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ super() }}{% endblock %}
{% block og_title %}{{ article.title|striptags }} - {{ super() }}{% endblock %}

{% block content %}
<article>
  <header class="page-header">
    <h1 id="top" class="site-article-title">
      <a href="{{ site_url }}/{{ article.url }}" class="self-link">
        {{ article.title|striptags }}
      </a>
    </h1>
    <div class="text-right">
      {% if article.author %}
	{{ article.author }}
      {% else %}
	{{ author }}
      {% endif %}
    </div>
    {% if not article.hide_date %}
    <div class="text-right">
      <time datetime="{{ article.date }}">
        {{ article.date }}
      </time>
    </div>
    {% endif %}
    {% if article.update_date %}
      <div class="text-right">
        (Last Update:
      <time datetime="{{ article.update_date }}">
        {{ article.update_date }}
      </time>
      )
    </div>
    {% endif %}
  </header>
  <div class="article-content">
    {{ article.content }}
  </div>
</article>

{% endblock content %}
