<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card"  content="summary" />
    <meta property="twitter:title" content="{% block og_title %}{{ site_name|striptags }}{% endblock %}"/>
    <meta property="og:image" content="{{ site_url }}/favicon.png">
    {% if article %}
    <link rel="canonical" href="{{ site_url }}/{{ article.url }}"/>
    {% elif page %}
    <link rel="canonical" href="{{ site_url }}/{{ page.url }}"/>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="author" href="http://www.hatena.ne.jp/{{ hatena_id }}/" />
    <link href="{{ site_url }}/site.css" rel="stylesheet">
    <link id="favicon" rel="icon" type="image/png" href="{{ site_url }}/favicon.png" >
    <link href="{{ site_url }}/feed.xml" rel="alternate"
          title="{{ site_name }}" type="application/atom+xml">
    {% if google_analytics_tracking_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ google_analytics_tracking_id }}');
    </script>
    {% endif %}
    <title>{% block title %}{{ site_name|striptags }}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand d-flex">
      <ul class="navbar-nav">
        <li class="nav-item {% block nav_home_active %}{% endblock %}">
          <a class="nav-link" href="{{ site_url }}/">{{ site_name|striptags }}</a>
        </li>
        <li class="nav-item {% block nav_timeline_active %}{% endblock %}">
          <a class="nav-link" href="{{ site_url }}/timeline/">Timeline</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
	<li class="dropdown">
	  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  </button>
	  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
	    <button id="theme-light" class="dropdown-item" href="#">Light</button>
	    <button id="theme-dark" class="dropdown-item" href="#">Dark</button>
	  </div>
	</li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col">
          {% block content %}
          {% endblock content %}
          <footer class="base-footer text-center">
            <small>
              <a href="/">Home</a>
	      | &copy; 2005-2021 hayato
	      | <a href="{{ github }}"><i class="bi-github"></i> GitHub</a>
	      | <a href="{{ site_url }}/feed.xml"><i class="bi-rss-fill"></i> Feed</a>
            </small>
          </footer>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="{{ site_url }}/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
