<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.name|escape }}">
    <meta property="og:title"
          content="{% block og_title %}{{ entry.title|escape }} - {{ site.name|escape }}{% endblock %}">
    <meta property="og:image" content="{{ site.url }}/favicon.png">
    <meta name="twitter:card"  content="summary">
    <link rel="canonical" href="{{ site.url }}/{{ entry.url }}">
    <link rel="author" href="https://www.hatena.ne.jp/{{ site.hatena_id }}/">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.7.0/github-markdown.min.css">
    <link rel="stylesheet" href="{{ site.url }}/site.css">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png">
    <link rel="alternate"
          type="application/atom+xml"
          title="{{ site.name }}"
          href="{{ site.url }}/feed.xml">
    {% block head %}{% endblock %}
    {% if site.google_analytics_tracking_id %}
      <script async
              src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_tracking_id }}"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());
      gtag("config", "{{ site.google_analytics_tracking_id }}");
      </script>
    {% endif %}
    <title>
      {% block title %}{{ entry.title|escape }} - {{ site.name|escape }}{% endblock %}
    </title>
  </head>
  <body class="markdown-body">
    <nav id="navbar">
      <div id="navbar-box">
        <div>
          <!-- https://primer.style/octicons/icon/home-16/ -->
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 16 16"
               width="16"
               height="16">
            <path d="M6.906.664a1.749 1.749 0 0 1 2.187 0l5.25 4.2c.415.332.657.835.657 1.367v7.019A1.75 1.75 0 0 1 13.25 15h-3.5a.75.75 0 0 1-.75-.75V9H7v5.25a.75.75 0 0 1-.75.75h-3.5A1.75 1.75 0 0 1 1 13.25V6.23c0-.531.242-1.034.657-1.366l5.25-4.2Zm1.25 1.171a.25.25 0 0 0-.312 0l-5.25 4.2a.25.25 0 0 0-.094.196v7.019c0 .138.112.25.25.25H5.5V8.25a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 .75.75v5.25h2.75a.25.25 0 0 0 .25-.25V6.23a.25.25 0 0 0-.094-.195Z">
            </path>
          </svg>
          <a class="nav-link" title="Home" href="/">{{ site.name|escape }}</a>
        </div>
        <div>
          <a class="nav-link" title="Home" href="{{ site.url }}/feed.xml">Feed</a> |
          <a class="nav-link" title="GitHub" href="{{ site.github }}">GitHub</a> |
          <!-- https://primer.style/octicons/icon/heart-16/ -->
          <svg id="sponsor"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 16 16"
               width="16"
               height="16">
            <path d="m8 14.25.345.666a.75.75 0 0 1-.69 0l-.008-.004-.018-.01a7.152 7.152 0 0 1-.31-.17 22.055 22.055 0 0 1-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.066 22.066 0 0 1-3.744 2.584l-.018.01-.006.003h-.002ZM4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.58 20.58 0 0 0 8 13.393a20.58 20.58 0 0 0 3.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.749.749 0 0 1-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5Z">
            </path>
          </svg>
          <a class="nav-link" title="Sponsor" href="https://github.com/sponsors/hayatoito">Sponsor</a>
        </div>
      </div>
    </nav>
    <div id="content-box">
      <div id="main">
        {% block main %}
        {% endblock main %}
        <footer id="footer">
          &copy; 2005-2026 hayato
        </footer>
      </div>
      {% block sidebar %}
      {% endblock sidebar %}
    </div>
    {% if entry.math %}
      <script>
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
        },
        svg: {
          fontCache: "global",
        },
      };
      </script>
      <script id="MathJax-script"
              async
              src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    {% block body_end %}
    {% endblock body_end %}
  </body>
</html>
