<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ site_name|striptags }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="twitter:card"  content="summary" />
    <meta property="twitter:title" content="{% block og_title %}{{ site_name|striptags }}{% endblock %}"/>
    <meta property="og:image" content="{{ site_url }}/favicon.png">
    {% if article %}
    <link rel="canonical" href="{{ site_url }}/{{ article.url }}"/>
    {% elif page %}
    <link rel="canonical" href="{{ site_url }}/{{ page.url }}"/>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="author" href="http://www.hatena.ne.jp/{{ hatena_id }}/" />
    <link href="{{ site_url }}/site.css" rel="stylesheet">
    <link id="favicon" rel="icon" type="image/png" href="{{ site_url }}/favicon.png" >
    <link href="{{ site_url }}/feed.xml" rel="alternate"
          title="{{ site_name }}" type="application/atom+xml">
    {% if google_analytics_tracking_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ google_analytics_tracking_id }}');
    </script>
    {% endif %}
  </head>
  <body data-spy="scroll" data-target="#toc" data-offset="50">
    {% block body_content %}
    <nav class="navbar navbar-expand">
      <ul class="navbar-nav">
        <li class="nav-item {% block nav_home_active %}{% endblock %}">
          <a class="nav-link" href="{{ site_url }}/">{{ site_name|striptags }}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item {% block nav_timeline_active %}{% endblock %}">
          <a class="nav-link" href="{{ site_url }}/timeline/">Timeline</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <small><a href="{{ site_url }}/feed.xml"><i class="fas fa-rss"></i></a></small>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
	<li class="dropdown">
	  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <i class="fas fa-paint-brush"></i>
	  </button>
	  <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="dropdownMenuButton">
	    <button id="theme-light" class="dropdown-item" href="#">Light</button>
	    <button id="theme-dark" class="dropdown-item" href="#">Dark</button>
	  </div>
	</li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        {% if article and article.toc or page and page.toc %}
        <div class="col col-xl-9">
        {% else %}
        <div class="col">
        {% endif %}
          {% block content %}
          {% endblock content %}
          {% block footer %}
          <footer class="base-footer text-center">
            <small>
              <a href="/">Home</a> | &copy; 2005-2020 hayato
            </small>
          </footer>
          {% endblock footer %}
        </div>
        {% if article and article.toc or page and page.toc %}
        <div class="d-print-none d-lg-none d-xl-block col-xl-3">
          <nav id="toc" data-toggle="toc">
            {{ article.toc_html}}
          </nav>
        </div>
        {% endif %}
      </div>
    </div>
    {% endblock body_content %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ site_url }}/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/languages/rust.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
