<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site_name }}</title>
  <link rel="alternate" type="text/html" href="{{ site_url }}/"/>
  <link rel="self" type="application/atom+xml" href="{{ site_url }}/feed.xml"/>
  <updated>{{ articles[0].date }}T00:00:00+09:00</updated>
  <author>
    <name>{{ author }}</name>
  </author>
  <id>{{ site_url }}/</id>
  {% for article in articles %}
  <entry>
    <title>{{ article.title }}</title>
    <link href="{{ site_url }}/{{ article.url }}"/>
    <id>{{ site_url }}/{{ article.url }}</id>
    <updated>{{ article.date }}T00:00:00+09:00</updated>
  </entry>
  {% endfor %}
</feed>
