{% extends "base.html" %}

{% block title %}{{ site.name|striptags }}{% endblock %}

{% block content %}
<section class="site-content">
  <h1 class="site-title">{{entry.title|striptags }}</h1>
  {{ entry.content }}
  <hr>
  {% for a in articles_by_year %}
    <h1 id="{{ a.year }}" class="site-timeline-year">
      <a class="self-link" href="#{{ a.year }}">{{ a.year }}</a>
    </h1>
    <ul>
      {% for article in a.articles %}
	<li><a href="{{ site.url }}/{{ article.url }}">{{ article.title|striptags }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
</section>
