{% extends "base.jinja" %}
{% block title %}{{ site.name|escape }}{% endblock %}
{% block og_title %}{{ site.name|escape }}{% endblock %}
{% block main %}
  <h1 class="site-title">{{ entry.title|escape }}</h1>
  {{ entry.content }}
  <hr>
  {% for a in articles_by_year %}
    <h1 id="{{ a.year }}" class="site-timeline-year">
      <a class="self-link" href="#{{ a.year }}">{{ a.year }}</a>
    </h1>
    <ul>
      {% for article in a.articles %}
        <li>
          <a href="{{ site.url }}/{{ article.url }}">{{ article.title|escape }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
