{% extends "base.jinja" %}
{% block main %}
  <header class="site-header">
    <h1 class="site-title">{{ entry.title|escape }}</h1>
  </header>
  <main>
    {{ entry.content }}
  </main>
{% endblock main %}
