{% extends "base.html" %}
{% block title %}{{ page.title}} - {{ super() }}{% endblock %}
{% block nav_timeline_active %}active{% endblock %}
{% block relative_url %}timeline/{% endblock %}
{% block og_title %}Timeline - {{ super() }}{% endblock %}
{% block og_relative_url %}timeline/{% endblock %}
{% block content %}
<section id="content" class="content site-page">
  {% for a in year_articles %}
  <h1 class="timeline-year">{{ a.year }}</h4>
  <ul>
    {% for article in a.articles %}
    <li>
      <a href="{{ site_url }}/{{ article.url }}">
        {{ article.title|striptags }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
{% endblock %}
