<!--
title: Google Code Jam 2006 - Qualification Round通過
date: 2006-09-09
-->

予選通過のメールがきました。

> From: The Google Code Jam Team
>
> Subject: Google(TM) Code Jam 2006 Results
>
> Hello gentoo,
>
> Congratulations! The results of the Google Code Jam 2006 Qualification Round
> have been officially tabulated, and we're happy to announce that you have
> advanced to Round 1. This is a great accomplishment.
>
> Round 1 of Google Code Jam 2006 takes place online at 10:00 AM EDT (GMT/UTC
> -4) on Thursday, September 14. Registration is required for this round and
> will be open from 7:00 AM to 9:55 AM EDT (GMT/UTC -4) on the day of the event.
> To register for Round 1, log in to the Competition Arena, click on the Active
> Contests menu item, select Round One, and select Register:
> www.google.com/codejam2006.
>
> Of those who participate in Round 1, the top 500 scores will advance to Round
> 2 on Tuesday, September 19, at 10:00 AM EDT (GMT/UTC -4).
>
> Congratulations again on successfully making it through the Qualification
> Round of Google Code Jam 2006.
>
> - The Google Code Jam Team

Google Code Jam 2006 のサイトにも
[通過者の一覧](http://www.topcoder.com/pl/?&module=Static&d1=google06&d2=advQual)
が正式に出ていますね。 次は、Round1、1000 名から 500 名です。
