body {
  padding-bottom: 1rem;
  color: #fff;
  background-color: #222;
}

.bg-dark {
  background-color: #333 !important;
}

tbody {
}
.table {
  color: #fff;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.table td,
.table th {
  /* border-top: 1px solid #666; */
  border-top: 0;
  border-bottom: 0;
}

.table thead th {
  /* border-bottom: 1px solid #666; */
  border-top: 0;
  border-bottom: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #333;
}

.navbar {
  margin-bottom: 1.5rem;
  padding: 0rem 1rem;
}

.nav-link {
  color: #ccc !important;
}

a.nav-link:hover,
a.nav-link:focus {
  color: #63b8ff !important;
}

.nav-item a {
  border-bottom: 2px solid #333;
}

.nav-item.active a {
  color: #63b8ff !important;
  border-bottom: 2px solid #63b8ff;
}

.page-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article img[src$=".svg"] {
  background-color: #fff;
}

/* My own class. borrowed from bootstrap's document */
.article-info,
.article-danger {
  background-color: #333;
  border: 1px solid #666;
  border-left-width: 3px;
  margin-top: -5px;
  margin: 20px 0;
  padding: 20px;
}

.article-info {
  border-left-color: #1b809e;
}
.article-danger {
  border-left-color: #ce4844;
}

/* for pages and articles */
.page-header {
  border-bottom: 0;
}

article > header .post-date {
  color: gray;
}

article .site-article-title,
.site-page .site-page-title {
  border-bottom: 0;
  font-size: 2rem;
  padding-top: 0;
}

article h1,
.site-page > h1 {
  padding-top: 0.5em;
  font-size: 1.8rem;
}

article h2,
.site-page h2 {
  padding-top: 0.5rem;
  font-size: 1.4rem;
}

article h1,
.site-page > h1,
article h2,
.site-page h2 {
  padding-bottom: 0.3rem;
  /* border-bottom: 1px solid #666; */
}

.base-footer {
  color: #ccc;
}

blockquote p {
  font-size: 14px;
}

.social {
  margin-top: 3rem;
}

.site-footnote-title {
  margin-bottom: 1rem;
}

a {
  color: #63b8ff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #63b8ff;
  text-decoration: underline;
}

blockquote {
  background-color: #333;
  border: 1px solid #666;
  padding: 1rem 1rem 0;
  border-left: 2px solid #deb887;
}

code {
  color: #ffc0cb;
}

pre {
  margin-bottom: 0;
}

pre code {
  color: #fff;
}

.highlight {
  border: 1px solid #666;
  padding: 0.5rem;
  background-color: #333;
  margin-bottom: 0.5rem;
}

/* For site */
/* From .highlight */
pre {
  border: 1px solid #666;
  padding: 0.5rem;
  background-color: #333;
  margin-bottom: 0.5rem;
}

/* For site */
/* From th: user agent stylesheet */
thead > tr > td {
  font-weight: bold;
}

h1 > a.self-link,
h2 > a.self-link {
  color: white;
}

h1 > a.self-link:hover,
h2 > a.self-link:hover {
  text-decoration: none;
}

h1 > a.self-link:hover::after,
h2 > a.self-link:hover::after {
  content: "\2002\00a7\2002";
}

/*
 * Table of Contents
 */
#toc {
  position: fixed;
}

#toc {
  margin-top: 1rem;
}

#toc nav {
  padding: 0;
}

/* toc item */
#toc a {
  border-radius: 0;
  padding: 4px;
  color: #ccc;
  font-size: 0.8rem;
  background-color: #333;
  border-left: 1px solid #666;
}

#toc a.active,
#toc a:hover,
#toc a:focus {
  color: #63b8ff !important;
}

#toc a.active {
  font-weight: bold;
  border-left: 2px solid #63b8ff !important;
}

/* 1st level toc item */
#toc > nav > a {
  padding-left: 16px;
}

#toc > nav > a.active {
  padding-left: 15px;
}

/* 2nd level toc item */
#toc > nav > nav > a {
  padding-left: 32px;
}

#toc > nav > nav > a.active {
  padding-left: 31px;
}

/* 2nd level (shown on .active) */
#toc nav nav {
  display: none; /* Hide by default, but at >768px, show it */
}

/* Show 2nd level when 1st level is active */
#toc a.active + nav {
  display: block;
}

/* progress-bar */
.progress {
  background-color: #333;
}
.progress-bar {
  color: #fff;
  background-color: #3387cc;
}

//* highlight.js */
/* https://github.com/highlightjs/highlight.js/blob/master/src/styles/rainbow.css */

.hljs {
  display: block;
  overflow-x: auto;
}

.hljs-built_in,
.hljs-deletion {
  color: #ff6a6a;
}

.hljs-symbol,
.hljs-bullet,
.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-link {
  color: #04f97f;
}

.hljs-doctag {
  color: #f0e68c;
}

.hljs-title,
.hljs-name,
.hljs-section {
  color: #63b8ff;
}

.hljs-number,
.hljs-literal,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #ab82ff;
}

.hljs-type {
  color: #7fffd4;
}

.hljs-comment,
.hljs-quote {
  color: #98fb98;
}

.hljs-string,
.hljs-regexp {
  color: #deb887;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-class .hljs-title,
.hljs-attr,
.hljs-attribute {
   color: #ffc0cb;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #b4cdcd;
}

.hljs-formula {
  background: #eee8d5;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
