body {
  padding-bottom: 1rem;
  color: #fff;
  background-color: #222;
}

.bg-dark {
  background-color: #333 !important;
}

tbody {
}
.table {
  color: #fff;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.table td,
.table th {
  /* border-top: 1px solid #666; */
  border-top: 0;
  border-bottom: 0;
}

.table thead th {
  /* border-bottom: 1px solid #666; */
  border-top: 0;
  border-bottom: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #333;
}

.navbar {
  margin-bottom: 1.5rem;
  padding: 0rem 1rem;
}

.nav-link {
  color: #ccc !important;
}

a.nav-link:hover,
a.nav-link:focus {
  color: #63b8ff !important;
}

.nav-item a {
  border-bottom: 2px solid #333;
}

.nav-item.active a {
  color: #63b8ff !important;
  border-bottom: 2px solid #63b8ff;
}

.page-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article img[src$=".svg"] {
  background-color: #fff;
}

/* My own class. borrowed from bootstrap's document */
.article-info,
.article-danger {
  background-color: #333;
  border: 1px solid #666;
  border-left-width: 3px;
  margin-top: -5px;
  margin: 20px 0;
  padding: 20px;
}

.article-info {
  border-left-color: #1b809e;
}
.article-danger {
  border-left-color: #ce4844;
}

/* for pages and articles */
.page-header {
  border-bottom: 0;
}

article > header .post-date {
  color: gray;
}

article .site-article-title,
.site-page .site-page-title {
  border-bottom: 0;
  font-size: 2rem;
  padding-top: 0;
}

article h1,
.site-page > h1 {
  padding-top: 0.5em;
  font-size: 1.8rem;
}

article h2,
.site-page h2 {
  padding-top: 0.5rem;
  font-size: 1.4rem;
}

article h1,
.site-page > h1,
article h2,
.site-page h2 {
  padding-bottom: 0.3rem;
  /* border-bottom: 1px solid #666; */
}

.base-footer {
  color: #ccc;
}

blockquote p {
  font-size: 14px;
}

.social {
  margin-top: 3rem;
}

.site-footnote-title {
  margin-bottom: 1rem;
}

a {
  color: #63b8ff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #63b8ff;
  text-decoration: underline;
}

blockquote {
  background-color: #333;
  border: 1px solid #666;
  padding: 1rem 1rem 0;
  border-left: 2px solid khaki;
}

code {
  color: #20c997;
}

pre {
  margin-bottom: 0;
}

pre code {
  color: #fff;
}

.highlight {
  border: 1px solid #666;
  padding: 0.5rem;
  background-color: #333;
  margin-bottom: 0.5rem;
}

/* For my-site */
/* From .highlight */
pre {
  border: 1px solid #666;
  padding: 0.5rem;
  background-color: #333;
  margin-bottom: 0.5rem;
}

/* For my-site */
/* From th: user agent stylesheet */
thead > tr > td {
  font-weight: bold;
}

h1 > a.self-link,
h2 > a.self-link {
  color: white;
}

h1 > a.self-link:hover,
h2 > a.self-link:hover {
  text-decoration: none;
}

h1 > a.self-link:hover::after,
h2 > a.self-link:hover::after {
  content: "\2002\00a7\2002";
}

/*
 * Table of Contents
 */
#toc {
  position: fixed;
}

#toc {
  margin-top: 1rem;
}

#toc nav {
  padding: 0;
}

/* toc item */
#toc a {
  border-radius: 0;
  padding: 4px;
  color: #ccc;
  font-size: 0.8rem;
  background-color: #333;
  border-left: 1px solid #666;
}

#toc a.active,
#toc a:hover,
#toc a:focus {
  color: #63b8ff !important;
}

#toc a.active {
  font-weight: bold;
  border-left: 2px solid #63b8ff !important;
}

/* 1st level toc item */
#toc > nav > a {
  padding-left: 16px;
}

#toc > nav > a.active {
  padding-left: 15px;
}

/* 2nd level toc item */
#toc > nav > nav > a {
  padding-left: 32px;
}

#toc > nav > nav > a.active {
  padding-left: 31px;
}

/* 2nd level (shown on .active) */
#toc nav nav {
  display: none; /* Hide by default, but at >768px, show it */
}

/* Show 2nd level when 1st level is active */
#toc a.active + nav {
  display: block;
}

/* progress-bar */
.progress {
  background-color: #333;
}
.progress-bar {
  color: #fff;
  background-color: #63b8ff;
}

/* Used with prettify.js.  */
/* Borrows from  Doxy: https://raw.githack.com/google/code-prettify/master/styles/index.html  */
/* string - burlywood */
pre .str,
code .str {
  color: #deb887;
}
/* keyword - LightCyan3 */
pre .kwd,
code .kwd {
  color: #b4cdcd;
}
/* comment - PaleGreen */
pre .com,
code .com {
  color: #98fb98;
}
/* type - aquamarine */
pre .typ,
code .typ {
  color: #7fffd4;
}
/* literal - MediumPurple1 */
pre .lit,
code .lit {
  color: #ab82ff;
}
/* punctuation - lemon chiffon4  */
pre .pun,
code .pun {
  color: #ccc;
}
/* plaintext - white */
pre .pln,
code .pln {
  color: #fff;
}
/* html/xml tag  - bluey */
pre .tag,
code .tag {
  color: #9c9cff;
}
/* html tag - bluey */
pre .htm,
code .htm {
  color: #9c9cff;
}
/* xslt tag  light purply*/
pre .xsl,
code .xsl {
  color: #d0a0d0;
}
/* html/xml attribute name  - pink */
pre .atn,
code .atn {
  color: #ffc0cb;
}
/* html/xml attribute value - burlywood */
pre .atv,
code .atv {
  color: #deb887;
}
/* decimal - blue */
pre .dec,
code .dec {
  color: #3387cc;
}

/* print is mostly unchanged from default at present  */
@media print {
  pre.prettyprint,
  code.prettyprint {
    background-color: #fff;
  }
  pre .str,
  code .str {
    color: #088;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #0c3;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #b66ff7;
    font-weight: bold;
  }
  pre .htm,
  code .htm {
    color: #606;
    font-weight: bold;
  }
  pre .xsl,
  code .xsl {
    color: #606;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #c71585;
    font-weight: normal;
  }
  pre .atv,
  code .atv {
    color: #088;
    font-weight: normal;
  }
}
